ENVIRONMENT=local
PORT=8000
WECHAT_MINI_GET_SESSION_KEY_URL=https://api.weixin.qq.com/sns/jscode2session
WECHAT_MINI_APPID=appid
WECHAT_MINI_SECRET=app_secret
DEBUG=False
# DATABASE_URL=mysql://myuser:mypassword@myhost/mydatabase
ALLOWED_HOSTS=wristcheck.imdancer.com,imdancer.com,114.55.108.152,127.0.0.1,localhost,https://dashboard-wristchecklab.pages.dev
CSRF_TRUSTED_ORIGINS=https://dashboard-wristchecklab.pages.dev

DJANGO_PROJECT_LOG=wristcheck.log

GUNICORN_LOG_LEVEL=debug
GUNICORN_ACCESS_LOG=gunicorn_access.log
GUNICORN_ERROR_LOG=gunicorn_error.log
WRISTCHECK_API=http://api.wristchecklab.com

DOMAIN=https://wristcheck.imdancer.com
STATIC_DOMAIN=https://wristcheck-static.imdancer.com

OSS_ACCESS_KEY_ID=xxx
OSS_ACCESS_KEY_SECRET=xxx
OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET=wristcheck